name: Cypress Tests with Install Job and UI Chrome Job x 5

on: [push]
jobs:
  install:
    runs-on: ubuntu-latest
    container: cypress/browsers:node12.18.3-chrome87-ff82
    steps:
      - name: Checkout
        uses: actions/checkout@v2

#      - name: Save build folder
#        uses: actions/upload-artifact@v2
#        with:
#          name: build
#          if-no-files-found: error
#          path: build

      - name: Cypress install
        uses: cypress-io/github-action@v2
        with:
          # Disable running of tests within install job
          runTests: false
          build: yarn build
  ui-chrome-tests:
    runs-on: ubuntu-latest
    container: cypress/browsers:node12.18.3-chrome87-ff82
    needs: install
    strategy:
      fail-fast: false
      matrix:
        # run copies of the current job in parallel
        containers: [ 1, 2, 3, 4, 5 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download the build folders
        uses: actions/download-artifact@v2
        with:
          name: build
          path: build

      - name: 'UI Tests - Chrome'
        uses: cypress-io/github-action@v2
        with:
          # we have already installed all dependencies above
          install: false
          start: yarn start:ci
          wait-on: 'http://www.wavve.com'
          wait-on-timeout: 120
          browser: chrome
          record: true
          parallel: true
          group: 'UI - Chrome'
          spec: cypress/tests/ui/*
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # Recommended: pass the GitHub token lets this action correctly
          # determine the unique run id necessary to re-run the checks



## This is a basic workflow to help you get started with Actions
#name: Create Cypress report
#on:
#  push:
#    branches:
#      - 'main'
#
#jobs:
#  cypress-e2e-chrome88:
#    name: Run on Chrome 88
#    runs-on: ubuntu-18.04
#    container: cypress/browsers:node14.17.0-chrome88-ff89
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: Install a project with a clean slate
#        run: |
#          npm ci
#          $(npm bin)/cypress cache path
#          $(npm bin)/cypress cache list
#          $(npm bin)/cypress verify
#
#      - name: Run Cypress tests
#        uses: cypress-io/github-action@v2
#        with:
#          browser: chrom
##        run: npm run test
#
#      - name: Merge test results into one
#        run: npm run report:merge
#
#      - name: Generate HTML report
#        run: npm run report:generate

#name: Cypress Tests
#
#on:
#  push:
#    branches:
#      - 'main'
#
#jobs:
#  cypress-run:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2
#      # Install NPM dependencies, cache them correctly
#      # and run all Cypress tests
#      - name: Save build folder
#        uses: actions/upload-artifact@v2
#        with:
#          name: build
#          if-no-files-found: error
#          path: build
#
#      - name: Cypress install
#        uses: cypress-io/github-action@v2
#        with:
#          # Disable running of tests within install job
#          runTests: false
#          build: yarn build
#      - name: Cypress run
#        uses: cypress-io/github-action@v2
#        with:
#          build: npm run build
#          start: npm start
#          browser: chrome
#        env:
#          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
